<!-- [ Main Content ] end -->
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0"><%= settings.footerCopyright%></p>
            </div>
        </div>
    </div>
</footer>
<!-- Required Js -->
<script src="/dashboard/assets/js/plugins/popper.min.js"></script>
<script src="/dashboard/assets/js/plugins/simplebar.min.js"></script>
<script src="/dashboard/assets/js/plugins/bootstrap.min.js"></script>
<script src="/dashboard/assets/js/fonts/custom-font.js"></script>

<script src="/dashboard/assets/js/config.js"></script>
<script src="/dashboard/assets/js/pcoded.js"></script>
<script src="/dashboard/assets/js/plugins/feather.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

  <!-- notification Js -->
  <script src="/dashboard/assets/js/plugins/notifier.js"></script>

<!-- [Page Specific JS] start -->
<script src="/dashboard/assets/js/plugins/choices.min.js"></script>
<!-- [Page Specific JS] end -->

</body><!-- [Body] end -->

</html>