<%- include ('../partials/header') %>
    <div class="pc-container">
        <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
                                <li class="breadcrumb-item" aria-current="page">Şifre Değiştir</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h2 class="mb-0">Şifre Değiştir</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->

            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="/admin/changepassword">
                                <div class="form-group col-md-4 mb-2">
                                    <label class="form-label">Eski Şifre</label>
                                    <input name="oldPassword" id="oldPassword" type="password" class="form-control"
                                        placeholder="Eski şifrenizi girin" required>
                                </div>
                                <div class="form-group col-md-4 mt-5">
                                        <label class="form-label">Yeni Şifre</label>
                                        <input name="newPassword" id="newPassword" type="password" class="form-control"
                                            placeholder="Yeni şifrenizi girin" required autocomplete="off">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label">Şifre Doğrula</label>
                                    <input name="confirmPassword" id="confirmPassword" type="password" class="form-control"
                                        placeholder="Şifrenizi doğrulayın" required autocomplete="off">
                                </div>
                                <% if (typeof errorMessage !== 'undefined') { %>
                                    <div class="mb-5">
                                        <span class="text-orange-400"><strong><%= errorMessage %></strong></span>
                                    </div>
                                    <% } else if (typeof successMessage !== 'undefined') { %>
                                    <div class="mb-5">
                                        <span class="text-green-500"><strong><%= successMessage %></strong></span>
                                    </div>
                                <% } %>
                                <div class="btn-page pt-3">
                                    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ sample-page ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <%- include ('../partials/footer') %>